* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 28px 16px 0;
  display: flex;
  justify-content: space-between;
  .logo {
    padding: 7px 22.75px;
    img {
      width: 210px;
      height: 35px;
    }
  }
  .nav {
    display: flex;
    list-style-type: none;
    align-items: center;

    &__item {
      margin: 0 18px;
      font-size: 13px;
      text-transform: capitalize;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        color: rgba(51, 51, 51, 0.4);
      }
    }
  }
}

.intro {
  background-image: url(./img/intro.jpeg);
  background-size: 100%;
  align-items: center;
  padding: 180px 40px 400px;
  color: rgba(23, 23, 23, 0.69);
  .content {
    align-items: center;
    height: 900px;
    font-family: europa;
    display: flex;
    margin-bottom: 400px;
    &__inner {
      width: 345px;
      h2,
      h3,
      p {
        font-weight: 300;
        font-style: normal;
        font-size: 17.5px;
        letter-spacing: 0.05em;
        line-height: 1.54em;
        text-transform: none;
        text-rendering: optimizeLegibility;
        margin-bottom: 18px;
      }
      h2 {
        margin-bottom: 50px;
      }
      h3 {
        font-size: 11.5px;
        letter-spacing: 0.1em;
        line-height: 2.1em;
        text-transform: uppercase;
      }
      p {
        font-weight: 400;
        font-style: normal;
        font-size: 14.5px;
        letter-spacing: 0.06em;
        line-height: 1.68em;
        text-transform: none;
      }
    }
  }

  .slider {
    .dot,
    h1,
    h3 {
      text-align: center;
      margin: auto;
      font-weight: 300;
    }
    h1 {
      max-width: 800px;
      font-family: adobe-jenson-pro-display;
      font-size: 32px;
      letter-spacing: 0.016em;
      line-height: 1.5em;
    }
    h3 {
      font-family: europa;
      font-size: 17.5px;
      letter-spacing: 0.05em;
      line-height: 1.54em;
      max-width: 800px;
      margin-top: 24px;
    }
    .dot {
      margin-top: 24px;
      margin-bottom: 50px;
    }

    &__body {
      display: flex;
    }
    &__item {
      width: 20%;
      .card {
        cursor: pointer;
        padding: 0 14%;
        &__img {
          img {
            width: 100%;
          }
        }
        &__title {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
        }
        &__text {
          margin: 12px 0;
          text-align: center;
          font-weight: 600;
          font-size: 13.5px !important;
          letter-spacing: 0.063em;
          font-style: italic;
          font-family: adobe-jenson-pro-display;
          font-weight: 400;
          text-decoration: underline;
        }
        &__dot {
          text-align: center;
        }
      }
    }
  }
}

.author {
  padding: 100px 100px 300px;

  .inner {
    display: flex;
  }

  &__content {
    margin-left: 50px;
    p {
      margin-bottom: 32px;
    }
  }
}

.footer {
  padding: 200px 0 400px;
  background: url(./img/footer_img.jpeg) no-repeat left bottom;
  &__inner {
    display: flex;
    p {
      margin: auto;
      text-align: center;
      line-height: 20px;
    }
  }
}
